html,body{
	font-size: 12px;
	font-weight: normal;
}

section.social{
	background-color: #25292c;
	color: #fff;
	.contact{
		color: #fff;
		line-height: 45px;
		margin-right: 10px;
	}
	a.contact:hover{
		color: #fff;
		text-decoration: none;
		cursor: pointer;
	}
	ul.social-share{
		list-style: none;
		li{
			display: inline-block;
			*display: inline;
			a{
				line-height: 35px;
				color: #fff;
				i.fa-stack-1x{
					color: #666;
				}
				i.fa-circle{
					-webkit-transition: all .5s ease-in-out;
				    -moz-transition: all .5s ease-in-out;
				    -o-transition: all .5s ease-in-out;
				    -ms-transition: all .5s ease-in-out;
				    transition: all .5s ease-in-out;
				}
			}
			&:hover{
				i.fa-stack-1x{
				 	color: #fff;
				}
			}
			&.facebook:hover{
				 i.fa-circle{
				 	color: #4c66a4;
				 }
			}
			&.twitter:hover{
				 i.fa-circle{
				 	color: #2c77ba;
				 }
			}
			&.dribbble:hover{
				 i.fa-circle{
				 	color: #ea4c89;
				 }
			}
			&.linkedin:hover{
				 i.fa-circle{
				 	color: #006699;
				 }
			}
			&.rss:hover{
				 i.fa-circle{
				 	color: #ff6600;
				 }
			}
		}
	}
	div.search{
		display: inline-block;
		line-height: 35px;
		margin-left: 5px;
		i.fa-search{
		 	color: #666;
		 	left: -3px;
		}
		input.search-text{
			height: 28px;
			line-height: 28px;
			border-radius: 28px;
			width: 28px;
			background: url(../img/icon-search.png) 7px 8px no-repeat #fff;
			border: none;
			padding-left: 27px;
			cursor: pointer;
			-webkit-transition: all .3s ease-in-out;
		    -moz-transition: all .3s ease-in-out;
		    -o-transition: all .3s ease-in-out;
		    -ms-transition: all .3s ease-in-out;
		    transition: all .3s ease-in-out;
			&:focus{
				width: 170px;
			}
		}
	}
}
section.main-header{
	min-height: 86px;
	background-color: #323b44;
}