@import "bootstrap";

// Overidde bootstrap

*{
	margin: 0;
	padding: 0;
}
html,body{
	font-size: 12px;
	font-weight: normal;
}
ul{
	list-style: none;
}
section.social{
	background-color: #25292c;
	color: #fff;
	.contact{
		color: #fff;
		line-height: 45px;
		margin-right: 10px;
	}
	a.contact:hover{
		color: #fff;
		text-decoration: none;
		cursor: pointer;
	}
	
	div.search{
		display: inline-block;
		line-height: 35px;
		margin-left: 5px;
		i.fa-search{
		 	color: #666;
		 	left: -3px;
		}
		input.search-text{
			height: 28px;
			line-height: 28px;
			border-radius: 28px;
			width: 28px;
			background: url(../img/icon-search.png) 7px 8px no-repeat #fff;
			border: none;
			padding-left: 27px;
			cursor: pointer;
			outline: none;
			@include transition(all .3s ease-in-out);
			&:focus{
				width: 170px;
				cursor: text;
			}
		}
	}
}


// Socical share block for header and footer
ul.social-share{
	li{
		display: inline-block;
		*display: inline;
		a{
			line-height: 35px;
			color: #fff;
			i.fa-stack-1x{
				color: #666;
			}
			i.fa-circle{
				@include transition(all .5s ease-in-out);
			}
		}
		&:hover{
			i.fa-stack-1x{
			 	color: #fff;
			}
		}
		&.facebook:hover{
			 i.fa-circle{
			 	color: #4c66a4;
			 }
		}
		&.twitter:hover{
			 i.fa-circle{
			 	color: #2c77ba;
			 }
		}
		&.dribbble:hover{
			 i.fa-circle{
			 	color: #ea4c89;
			 }
		}
		&.linkedin:hover{
			 i.fa-circle{
			 	color: #006699;
			 }
		}
		&.rss:hover{
			 i.fa-circle{
			 	color: #ff6600;
			 }
		}
	}
}
section.main-header{
	background-color: #323b44;
	#menu{
		// Override bootstrap
		&>li>a{
			font-size: 16px;
			color: #fff;
			b.caret{
				border-top-color: #fff;
				border-bottom-color: #fff;
			}
		}
		&>li:hover>a, &>li.active>a, &>li.open a, &>li.open:hover a{
			background-color: #252c34;
		}
		
		.dropdown-menu{
			padding: 0;
			border-top: 3px solid #0488cd !important;
			background-color: #252c34;
			a{
				@include transition(all .3s ease-in-out);
				color: #fff;
			}
			li:hover a{
				padding-left: 20px;
				color: #0488cd;
				background-color: #323b44; 
			}
		}
	}
}
#main{
	.gallery-title{
		@include gradient-vertical(#f8f8f8, #fafafa);
	}
	
	.box{
		border: 5px solid #fff;
		cursor: pointer;
		height: 182px;
		float: left;
		margin: 5px;
		position: relative;
		overflow: hidden;
		width: 200px;
		@include box-shadow(1px 1px 1px 1px #ccc);
		img{
			position: absolute;
			left: 0;
			@include transition(all 300ms ease-out);
		}
		.caption {
			background-color: rgba(0,0,0,0.8);
			position: absolute;
			color: #fff;
			z-index: 100;
			@include transition(all 300ms ease-out);
			left: 0;
		}
		.scale-caption h3, .scale-caption p{
			position: relative;
			left: -200px;
			width: 170px;
			@include transition(all 300ms ease-out);
		}
		.scale-caption{
			h3{
				@include transition-delay(300ms);
			}
			p{
				@include transition-delay(500ms);	
			}
		}
		&:hover img{
			@include scale(1.6);
			.scale-caption{
				opacity: 1;
			}
		}
	}

	.row .box{
		margin: 10px auto;
	}
}
footer{
	section.main-footer{
		background-color: #323b44;
		color: #fff;
		ul.contact{
			margin: 0;
			padding: 0;
		}
	}
	section.copyright{
		background-color: #25292c;
		ul.social-share{
			line-height: 35px;
		}
		div.copyname{
			line-height: 35px;
			color: #fff;
		}
	}
}


// Override for full-width slider
.fullwidthbanner-container{
   width:100% !important;
   position:relative;
   padding:0;
   max-height:450px !important;  // Same value as in OPTIONS the <strong>startheight</strong> parameter
   overflow:hidden;
}

// Responsive style
// Xtra small devices
@media (min-width: 768px){
	#menu{
		float: right !important;
		&>li>a{
			line-height: 60px;	
		}
	}
}
@media (max-width: 767px){
	header{
		div.navbar-header{
			button{
				background-color: #0488cd;
				top: 20px;
				span.icon-bar{
					background-color: #fff;
				}	
			}
		}
		#menu{
			&>li>a{
				line-height: 20px;
			}
		}
	}
	footer{
		div, ul{
			width: 100%;
			line-height: 35px;
			float: none !important;
		}
		.copyname{
			text-align: center;
		}
	}
}
