@import "sass/_mixins";

html,body{
	font-size: 12px;
	font-weight: normal;
}

section.social{
	background-color: #25292c;
	color: #fff;
	.contact{
		color: #fff;
		line-height: 45px;
		margin-right: 10px;
	}
	a.contact:hover{
		color: #fff;
		text-decoration: none;
		cursor: pointer;
	}
	ul.social-share{
		list-style: none;
		li{
			display: inline-block;
			*display: inline;
			a{
				line-height: 35px;
				color: #fff;
				i.fa-stack-1x{
					color: #666;
				}
				i.fa-circle{
					@include transition(all .5s ease-in-out);
				}
			}
			&:hover{
				i.fa-stack-1x{
				 	color: #fff;
				}
			}
			&.facebook:hover{
				 i.fa-circle{
				 	color: #4c66a4;
				 }
			}
			&.twitter:hover{
				 i.fa-circle{
				 	color: #2c77ba;
				 }
			}
			&.dribbble:hover{
				 i.fa-circle{
				 	color: #ea4c89;
				 }
			}
			&.linkedin:hover{
				 i.fa-circle{
				 	color: #006699;
				 }
			}
			&.rss:hover{
				 i.fa-circle{
				 	color: #ff6600;
				 }
			}
		}
	}
	div.search{
		display: inline-block;
		line-height: 35px;
		margin-left: 5px;
		i.fa-search{
		 	color: #666;
		 	left: -3px;
		}
		input.search-text{
			height: 28px;
			line-height: 28px;
			border-radius: 28px;
			width: 28px;
			background: url(../img/icon-search.png) 7px 8px no-repeat #fff;
			border: none;
			padding-left: 27px;
			cursor: pointer;
			outline: none;
			@include transition(all .3s ease-in-out);
			&:focus{
				width: 170px;
				cursor: text;
			}
		}
	}
}
section.main-header{
	background-color: #323b44;
	#menu{
		margin-bottom: 0;
		&>li>a{
			line-height: 85px;
			font-size: 16px;
		}
		&>li:hover>a, &>li.active>a{
			background-color: #252c34;
		}
		&>li a{
			background: #323b44;
			border: none;
			color: #fff;
		}
		ul a{
			border-top:1px solid #414f5a;
			background-color: #252c34;
			@include transition(all .2s ease-in-out);
		}
		ul a:hover{
			background-color: #2f3843;
			padding-left: 20px;
		}
		ul{
			border-top: 3px solid #0488cd;
		}
		ul ul{
			margin-left: 1px;
		}
	}
}